.nav {
  background-color: #2E5266;
  height: 40px;
  width: 100%;
  display: inline-block;
}

.nav a {
  background: white;
  border-radius: 3px;
  float: left;
  margin: 5px;
  height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: #525252;
}

.nav a.active {
  background: #A8D0DB;
}

.nav div {
  float: right;
}

.nav div select {
  margin: 5px;
  height: 30px;
  width: 100px;
}
